body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("../assets/background/background.svg");
    background-size: cover; /* Ajusta a imagem para cobrir todo o elemento */
    background-repeat: no-repeat; /* Evita que a imagem seja repetida */
    background-position: center center; /* Centraliza a imagem no elemento */
    background-attachment: fixed; /* Fixa a imagem de fundo enquanto a página rola */
}

.navbar {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: #FFB001;
    box-shadow: inset 0 0 20px #ea9800;
}

.navbar-image {
    width: 55px;
    margin-left: 20px;
}

.navbar-button-menu-pesquisa {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.navbar-pesquisa {
    width: 300px;
    height: 40px;
    background-color: #F0E7D6;
    border-radius: 100px;
    border: none;
    padding-left: 20px;
}

.navbar-button-menu {
    width: 60px;
    height: 40px;
    background: #F0E7D6;
    border-radius: 100px;
    border: none;
    cursor: pointer;
}

#section-login-adm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}

.card-login {
    width: 300px;
    height: 450px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.23);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.135);
}

.card-login img {
    width: 50%;
    max-width: 100%;
    height: auto;
}

.card-login-linha {
    width: 80%;
    border-bottom: 0.5px solid #be3300;
}

.card-login-titulo {
    width: 100%;
    color: #be3300;
	font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif; 
    text-align: center;
    font-size: medium;
    text-transform: uppercase;
}

.card-login-form {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login-form {
    width: 80%;
    min-width: 200px;
    max-width: 300px;
    position: relative;
}

.login-form input {
    font-size: 16px;
    text-align: center;
    width: 100%;
    padding: 5%;
    border-radius: 15px;
    border: 1px solid #F0E7D6;
    border: none;
    outline: none;
}

.login-form i {
    position: absolute;
    color: #be3300;
    top: 12px;
    left: 12px;
}

.card-login-form button {
    color: #F0E7D6;
    background-color: #FA6934;
    box-shadow: inset 0 0 20px #be3300;
    font-size: 16px;
    width: 80%;
    min-width: 200px;
    max-width: 300px;
    padding: 4%;
    border-radius: 15px;
    border: none;
    transition-duration: 0.5s;
}

.card-login-form button:hover {
    cursor: pointer;
    background-color: #be3300;
    box-shadow: inset 0 0 20px #be3300;
    color: #F0E7D6;
    transition-duration: 0.5s;
}

.incorreto{
    display: none;
}